body {
    background: red;
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.strike-0 {
    background: blue;
    border-radius: 6px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 8px;
    display: flex;
    align-items: center;
}

.strike-1 {
    background: green;
    border-radius: 6px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 8px;
    display: flex;
    align-items: center;
}

.strike-2 {
    background: purple;
    border-radius: 6px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 8px;
    display: flex;
    align-items: center;
}

main {
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

/* d-937 */

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-3d {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 4px;
    min-width: 2em;
    min-height: 2em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}

.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 4px 8px;
    transform: translateY(0);
    color: #fff;
    background-image: linear-gradient(145deg, #6a11cb, #2575fc);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: transform 0.3s, border-radius 0.3s, background 10s;
}

.button-3d:active .button-top {
    border-radius: 5px 5px 4px 4px / 4px;
    transform: translateY(1px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
}

.button-bottom {
    position: absolute;
    z-index: 1;
    bottom: 2px;
    left: 2px;
    border-radius: 10px;
    padding-top: 3px;
    width: calc(100% - 4px);
    height: calc(100% - 5px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    transition: border-radius 0.2s, padding-top 0.2s;
}

.button-base {
    position: absolute;
    z-index: 0;
    top: 2px;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 2px);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
        inset 0 1px 1px rgba(0, 0, 0, 0.25);
    transition: border-radius 0.2s, padding-top 0.2s;
}

.button-3d:active .button-bottom {
    border-radius: 5px 5px 4px 4px / 4px;
    padding-top: 0;
}

.button-3d:active .button-base {
    border-radius: 5px 5px 4px 4px / 4px;
}