body {
    background: red;
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.strike {
    background: blue;
    border-radius: 12px;
    color: white;
    font-family:   'Courier New', Courier, monospace;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}