/* Pridaj tieto štýly na koniec súboru CSS */

.counter {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0 15px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Pridané pre vertikálne zarovnanie */
    margin: 20px;
}
