body {
    background: red;
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.strike-0 {
    background: blue;
    border-radius: 12px;
    color: white;
    font-family:   'Courier New', Courier, monospace;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.strike-1 {
    background: green;
    border-radius: 12px;
    color: white;
    font-family:   'Courier New', Courier, monospace;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.strike-2 {
    background: purple;
    border-radius: 12px;
    color: white;
    font-family:   'Courier New', Courier, monospace;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}

main {
    margin: 20px;
    padding: 20px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}