body {
    background: red;
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.strike-0 {
    background: blue;
    border-radius: 12px;
    color: white;
    font-family:   'Courier New', Courier, monospace;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.strike-1 {
    background: green;
    border-radius: 12px;
    color: white;
    font-family:   'Courier New', Courier, monospace;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.strike-2 {
    background: purple;
    border-radius: 12px;
    color: white;
    font-family:   'Courier New', Courier, monospace;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}